* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #006600;
}

h2 {
    color: #0000FF;
}

#span {
    color: #FF3399;
    background-color: #FECFFD;
    width: 100%;
    text-align: center;
}

.poem {
    width: 400px;
    height: 300px;
    background-color: #FFFFCC;
    margin: 20px auto;
}

pre {
    margin-left: 60px;
    margin-right: 50px;
   
}

hr {
    width: 85%;
    border-color: #A89092;

    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;

}
span{
    color : #1411e4;
}
.p2{
    color:#cf7a30;
}
.p3{
    color:#75B58F
}